* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #3498db;
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
}

.navbar .nav-links li {
    display: inline;
    margin-left: 20px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    color: #fff;
    padding: 100px 0;
    background-color: #2980b9;
}

.btn {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    width: 200px;
    height: 100px;
    transform: scale(1);
    transition-delay: 10s;
  }

.colorChange {
    background-color: red;
    animation-name: banana;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
@keyframes banana {
    0% {background-color: mintcream;}
    15% {background-color: midnightblue;}
    30% {background-color: mediumaquamarine;}
    45% {background-color: red;}
    70% {background-color: pink;}
    85% {background-color: saddlebrown}
    100% {background-color: darkmagenta}
  }

section {
    padding: 80px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}
