.navbar {
    padding: 20px 10px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler {
    border: none;
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 16px;
    }
}
